<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @clients, list_classes: %w(pagination) %>

<ul class="users">
  <%= render @users %>
</ul>
<br>
<%= will_paginate @clients, list_classes: %w(pagination justify-content-center) %>
