<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="pagination"><%= will_paginate @clients, list_classes: %w(pagination) %></div>

<ul class="users">
  <%= render @users %>
</ul>
<br>
<div class="pagination"><%= will_paginate @clients, list_classes: %w(pagination justify-content-center) %></div>
